<nav th:fragment="entete">
	<a href="/encheres">ENI-Enchères</a>
	<p sec:authorize="isAuthenticated()" 
   		th:if="${utilisateur != null and !#strings.isEmpty(utilisateur.pseudo)}" 
   		th:text="'Bonjour, ' + ${utilisateur.pseudo} + ' !'">
	</p>
	<a sec:authorize="!isAuthenticated()" th:href="@{/signup}">S'inscrire</a>
	<a sec:authorize="!isAuthenticated()" th:href="@{/login}">Se connecter</a>
	<a sec:authorize="isAuthenticated()" th:href="@{/sell-article}">Vendre un article</a>
	<a sec:authorize="isAuthenticated()" th:href="@{/user-profile}">Mon profil</a>
	<a sec:authorize="isAuthenticated()" th:href="@{/logout}">Déconnexion</a>
</nav>
