<nav th:fragment="header" class="navbar">

  	<div class="links">
        <!-- Liens pour les utilisateurs non authentifiés -->
	        <a sec:authorize="!isAuthenticated()" th:href="@{/}">Les enchères</a>
	        <a sec:authorize="!isAuthenticated()" th:href="@{/signup}">S'inscrire</a>
	        <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Se connecter</a>
        <!-- Liens pour les utilisateurs authentifiés -->
	        <a sec:authorize="isAuthenticated()" th:href="@{/encheres}">Les enchères</a>
	        <a sec:authorize="isAuthenticated()" th:href="@{/sell-article}">Vendre un article</a>
	        <a sec:authorize="isAuthenticated()" th:href="@{/user-profile}">Mon profil</a>
	        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Déconnexion</a>
	</div>
	 <p id="bienvenu" sec:authorize="isAuthenticated()" 
           th:if="${utilisateur != null and !#strings.isEmpty(utilisateur.pseudo)}" 
           th:text="'Bonjour ' + ${utilisateur.prenom} + ' !'"></p>
</nav>
