<nav th:fragment="entete">
	<!-- <a th:href="@{/}"><img src="/img/logo.png" alt="logo" /></a> -->
	<a href="/encheres">ENI-Enchères</a>
	<a sec:authorize="!isAuthenticated()" th:href="@{/signup}">S'inscrire</a>
	<a sec:authorize="!isAuthenticated()" th:href="@{/login}">Se connecter</a>
	<a sec:authorize="isAuthenticated()" th:href="@{/sell-article}">Vendre un article</a>
	<a sec:authorize="isAuthenticated()" th:href="@{/user-profile}">Mon profil</a>
	<a sec:authorize="isAuthenticated()" th:href="@{/logout}">Déconnexion</a>
</nav>