@charset "UTF-8";

:root {
	--bleu-fonce:#343b40;
	--bleu-gris:#576e7d;
	--vert-sauge:#a3bfa8;
	--rose-poudre:#d9b8b5;
	--chocolat:#653924;
	--dore-mat:#c8a165;
	--beige-doux:#e3c9a9;
	--creme-clair:#f3e7d3;
}
main{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	min-height: calc(100vh - 100px); /* Assure que le contenu occupe l'espace restant sans chevaucher le footer */
	justify-content: space-between; /* Espace entre les sections */
    margin: 50px 40px; /* Marges pour espacer du bord */
}
/*---------------------------INFOS GENERALES--------------------------------------------*/
.infos-generales {
    font-family: Lora;
	flex-direction:column;
	align-items:flex-start;
	max-width: 700px;
	padding: 20px;
	z-index: 1;
	position: relative;
}
h2{
	font-family: Playfair+Display+SC;
	font-size: 30px;
	color:var(--bleu-fonce);
	margin-left: 150px
}
h4{
	font-style: italic;  
}
/*----------------------------CARD--------------------------------------------*/
.card {
    background-color: var(--vert-sauge);
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 550px;
    height: 650px; /* Hauteur fixe pour toutes les cartes */
    padding: 15px;
    box-sizing: border-box;
    display:flex;
    flex-direction:column;
    margin-left: auto; /* Pousse la carte tout à droite */
    position: relative; /* Permet de rester dans le flux de la page */
    z-index: 100; /* S'assure qu'elle ne chevauche pas inutilement */
    align-self: flex-end; /* Aligne uniquement la carte à droite */
    margin-right: 60px;
 
}
.card img {
    object-fit: cover; /* Ajuste l'image sans déformation */
 	justify-content: center;
 	max-height: 460px;
 	max-width: 540px;
}
.card th, .card td {
    text-align: left;
    margin-left:15px;
    padding:5px;
    padding-top:15px;
    color: black;
    font-family: Lora;
    font-size: 15px;
}
#vendeur{
	color:var(--chocolat);
	text-decoration: none;
	font-style: italic;
	font-size: 20px;
}
/*----------------------------INFOS PRIX--------------------------------------------*/
.infos-prix {
    padding: 20px;
    line-height: 30px;
    text-align: left;
    max-width: 700px;
    font-family: Lora;
	flex-direction:column;
	align-items:flex-start;
	z-index: 100;
	position: absolute;
	margin-top: 400px;
}
.infos-prix th{
	color: var(--bleu-fonce);
}

/*----------------------------ENCHERIR----------------------------------*/
.encherir{
	margin-left: 600px;
	padding: 20px;
    font-family: Lora;
	position: absolute;
	z-index: 100;
	margin-top: 410px;
}
form {
	background-color:var(--rose-poudre);
	border-radius: 10px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	color: var(--bleu-fonce);
    font-size: 18px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    display: flex;
    padding: 20px;
    flex-direction: column;
}
/* Effet lumineux au survol */
form:hover {
    box-shadow: 0 0 20px 10px var(--dore-mat), 0 0 40px 20px var(--dore-mat);
    transform: scale(1.05); /* Ajoute un léger agrandissement */
}
input {
	border: 1px solid #ddd;
	border-radius: 10px;
	font-size: 14px;
	color: black;
	width:80px;
	height: 20px;
}
/* --------------------------BUTTONS------------------------------------- */
button{
display:flex;
background-color: var(--bleu-gris);
color:white;
border-radius: 100px;
font-size: 20px;
cursor: pointer;
}
button:hover {
background-color:var(--dore-mat);
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
transition: background-color 0.3s ease, box-shadow 0.3s ease;
}







