@charset "UTF-8";

:root {
	--bleu-fonce:#343b40;
	--bleu-gris:#576e7d;
	--vert-sauge:#a3bfa8;
	--rose-poudre:#d9b8b5;
	--chocolat:#653924;
	--dore-mat:#c8a165;
	--beige-doux:#e3c9a9;
	--creme-clair:#f3e7d3;
}
main{
	display: flex;
	flex-direction: row;
}
.bloc1 {
    display: flex;
    flex-direction: column; /* Aligne les éléments enfants horizontalement */
    justify-content: space-between; /* Espace entre les sections */
    margin: 50px 40px; /* Marges pour espacer du bord */
    position: relative;
    min-height: calc(100vh - 100px); /* Assure que le contenu occupe l'espace restant sans chevaucher le footer */
}
#titre{
	    margin-left: 200px;
}
/*----------------------------CONTENEUR INFOS----------------------------------*/
.infos {
    display: flex;
    flex-direction: column; /* Aligne .infos-generales et .infos-prix en colonne */
    max-width: 600px; /* Fixe une largeur pour le bloc gauche */
}

.infos-generales {
	margin-top: 50px;
    margin-bottom: 30px; /* Espace entre les blocs */
    font-family: Lora;
    z-index: 1;
	max-width: 600px;
	max-height: 300px;
	font-family: Lora;
}
h2{
	font-family: Playfair+Display+SC;
	font-size: 30px;
	padding: 10px;
	color:var(--bleu-fonce);
}
h4{
	font-style: italic;  
}

.infos-prix {
	margin-top: 30px;
    padding: 20px;
    line-height: 30px;
    text-align: left;
    max-width: 600px;
}
.infos-prix th{
	color: var(--bleu-fonce);
}
/*----------------------------CARD--------------------------------------------*/
.card {
    background-color: var(--vert-sauge);
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 550px;
    height: 650px; /* Hauteur fixe pour toutes les cartes */
    padding: 15px;
    margin-top: 50px; /* Ajuste la hauteur pour aligner avec .infos-generales */
    align-self: flex-start; /* Aligne la carte avec le haut du conteneur */
    box-sizing: border-box;
    display:flex;
    flex-direction:column;
    margin-left: auto; /* Pousse la carte tout à droite */
    position: relative; /* Permet de rester dans le flux de la page */
    z-index: 100; /* S'assure qu'elle ne chevauche pas inutilement */
    align-self: flex-end; /* Aligne uniquement la carte à droite */
 
}
.card img {
    object-fit: cover; /* Ajuste l'image sans déformation */
 	justify-content: center;
 	max-height: 460px;
 	max-width: 540px;
}
.card th, .card td {
    text-align: left;
    margin-left:15px;
    padding:5px;
    padding-top:15px;
    color: black;
    font-family: Lora;
    font-size: 15px;
}
#vendeur{
	color:var(--chocolat);
	text-decoration: none;
	font-style: italic;
	font-size: 20px;
}


/* ------------------------------FORM---------------------------------------- */
form {
	background-color:var(--bleu-gris);
	border-radius: 10px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	max-width: 600px;
	margin: 0 auto;
	color: var(--bleu-fonce);
}
input {
	width: 250px;
	padding: 8px 10px;
	border: 1px solid #ddd;
	border-radius: 10px;
	font-size: 14px;
	color:white;
}
/* --------------------------BUTTONS------------------------------------- */
button{
display:flex;
justify-content:center;
background-color: var(--bleu-gris);
color:white;
padding: 10px 20px;
border: none;
border-radius: 90px;
font-size: 20px;
cursor: pointer;
}
button:hover {
background-color:var(--dore-mat);
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
transition: background-color 0.3s ease, box-shadow 0.3s ease;
}







