@charset "UTF-8";

:root {
	--bleu-fonce:#343b40;
	--bleu-gris:#576e7d;
	--vert-sauge:#a3bfa8;
	--rose-poudre:#d9b8b5;
	--chocolat:#653924;
	--dore-mat:#c8a165;
	--beige-doux:#e3c9a9;
	--creme-clair:#f3e7d3;
}

/* Container pour toutes les cartes */
.grid {
    display: grid;
    place-items: center; 
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes de tailles égales */
    gap: 30px; /* Espacement entre les cartes */
    width: 100%;
    margin-top:30px;
}

/* Style pour chaque carte */
.articleCard {
    background-color: var(--beige-doux);
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 590px;
    height: 350px; /* Hauteur fixe pour toutes les cartes */
    padding: 15px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
    display: flex; /* Rend le conteneur flexible */
    flex-direction: raw; /* Organisation verticale */
    justify-content:flex-start; /* Répartit l'espace entre les éléments */
    margin-bottom: 20px; /* Espacement vertical entre les lignes */
}
.container{
	padding-left: 15px;
}
.articleCard:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Style des images */
.articleCard img {
    width: 300px;
    height: 320px; /* Taille uniforme pour les images */
    object-fit: cover; /* Ajuste l'image sans déformation */
    border-radius: 10px;
}

/* Style des titres */
.articleCard h1,
.articleCard h2,
.articleCard h3,
.articleCard h4,
.articleCard h5,
.articleCard h6 {
    text-align: left;
    margin: 10px 0;
    color: var(--bleu-fonce);
    font-family: Playfair+Display+SC;
}

/* Style des paragraphes */
.articleCard a {
    flex-grow: 1; /* Permet au texte de remplir l'espace restant */
    margin: 10px 0;
    overflow: hidden; /* Cache le texte qui dépasse */
    text-overflow: ellipsis; /* Ajoute "..." si le texte est trop long */
    line-height: 1.5;
    color:var(--bleu-fonce);
    font-size: 17px;
    font-family: Lora;
}

/* Style des boutons */
.button {
    align-content: flex-end; /* Positionne le bouton en bas de la carte */
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--bleu-gris); /* Couleur de fond */
    color: var(--creme-clair); /* Couleur du texte */
    text-decoration: none; /* Supprime le soulignement du lien */
    border-radius: 5px; /* Coins arrondis */
    border:medium;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease;
    font-family: Playfair+Display+SC;
}
#buttonDetail{
	    color: var(--creme-clair); /* Couleur du texte */
}
.button:hover {
    background-color: var(--dore-mat); /* Couleur au survol */
}

.link{
	color: var(--rose-poudre);
	text-decoration: none;
}

input[type="checkbox"]:disabled + label {
    color: gray;
    cursor: not-allowed;
}
