@charset "UTF-8";

:root {
	--bleu-fonce:#343b40;
	--bleu-gris:#576e7d;
	--vert-sauge:#a3bfa8;
	--rose-poudre:#d9b8b5;
	--chocolat:#653924;
	--dore-mat:#c8a165;
	--beige-doux:#e3c9a9;
	--creme-clair:#f3e7d3;
}

h1{
	font-family: 'Playfair Display SC';
	font-size: 35px;
	padding: 0px;
	margin: 0px;
	display: flex;
	justify-content: center;
	color: var(--bleu-fonce);
	margin-top: 15px;
}
/*------------------------------FILTRES DECONNECTES--------------------------------------*/
.filtres-deconnectes{
	font-size: 30px;
	border-radius: 10px;
	display: flex;
	margin-left: 500px;
	justify-content: flex-end;
	flex-direction:column;
	color: var(--bleu-gris);
	margin-right: 20px;
	padding-bottom: 10px;
}
.filtres-deconnectes select{
	background-color:white;
	text-decoration: none;
  	color: var(--bleu-fonce);
  	font-size:15px;
  	cursor: pointer;
  	display: flex;
  	justify-content: flex-start;
  	padding: 2px;
}
.filtres-deconnectes select li{
	border-radius: 10px;
	background-color: var(--rose-poudre);
	text-decoration: none;
  	color: var(--bleu-fonce);
  	padding: 10px 20px;
  	cursor: pointer;
  	display: flex;
  	justify-content: flex-start;
}
.filtres-deconnectes select:hover{
	background-color: var(--vert-sauge);
	color:var(--bleu-fonce);
}
.filtres-deconnectes input{
	height:20px;
}
.filtres-deconnectes button{
		margin-left: 750px;
		align-self: flex-end;
}







.filtres{
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap:wrap;
}
/*------------------------------RECHERCHE MOT CLE--------------------------------------*/
.recherche-mot-cle{
	font-size: 30px;
	display: flex;
	margin-left: 170px;
	justify-content: flex-start;
	flex-direction:column;
	color: var(--bleu-gris);
	margin-right:20px;
	z-index: 1;
	margin-top: 60px;
}
.recherche-mot-cle input{
	padding: 8px 15px;
	border-radius: 10px;
	z-index: 1;
}
/*---------------------------RECHERCHE PAR CATEGORIE------------------------------------*/
.recherche-categorie{
	font-size: 30px;
	padding: 0px;
	display: flex;
	justify-content: flex-start;
	flex-direction:column;
	margin-right:100px;
	margin-top: 60px;
	color: var(--bleu-gris);
	z-index: 1
}
.recherche-categorie select{
	border-radius: 10px;
	background-color: var(--vert-sauge);
	text-decoration: none;
  	color: var(--bleu-fonce);
  	font-size:medium;
  	padding: 10px 20px;
  	cursor: pointer;
  	display: flex;
  	justify-content: flex-start;
}
.recherche-categorie select li{
	border-radius: 10px;
	background-color: var(--vert-sauge);
	text-decoration: none;
  	color: var(--bleu-fonce);
  	padding: 10px 20px;
  	cursor: pointer;
  	display: flex;
  	justify-content: flex-start;

}
.recherche-categorie select:hover{
	background-color: var(--rose-poudre);
}

/*-----------------------------OPTION ACHAT VENTE--------------------------------------*/
/* TITRES */
.filtrage{
	position:relative;
	font-family: 'Playfair Display SC';
	font-size: 25px;
	padding: 0px;
	display: flex;
	text-align:right;
	flex-direction:column;
	color: var(--bleu-gris);
	z-index: 1
}
/* Style du conteneur dropdown */
.dropdown {
  	position: relative; /* Positionner le menu par rapport à ce conteneur */
  	display:flex;
  	z-index: 100;
}
.dropdown input{
	display: none; /* Cache complètement le bouton radio */
}
.dropdown-menu input{
	display: inline-block;
}

/* Style du lien principal */
.dropdown-link {
	text-decoration: none;
	background-color:var(--vert-sauge);
	margin-bottom:30px;
	color:var(--bleu-fonce);
	padding:10px;
	border-radius: 10px;
	display: flex;
	font-size:20px;
	cursor: pointer;
	justify-content: flex-start;
	margin-left: 300px;
}

.dropdown-link:hover {
  background-color:var(--rose-poudre);
}

/* Masquer le menu déroulant par défaut */
.dropdown-menu {
  display: none; /* Caché par défaut */
  position: relative;
  left: 0;
  background-color: var(--vert-sauge);
  padding: 0;
  font-size:medium;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 5;
  min-width: 70px;
}

/* Style des éléments du menu */
.dropdown-menu li {
	display: flex;
	margin-left: 10px;
	padding: 10px;
	text-decoration: none;
	color:var(--chocolat);
	position:relative;
	text-decoration: none;
	cursor: pointer;
	align-items: center;
	z-index: 5;
}
li input{
	color: white;
}
.dropdown-menu li:hover {
	background-color: var(--rose-poudre);
}

/* Afficher le menu déroulant si la souris est sur le lien ou sur le menu */
.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
	display: block;
}
#research{
	margin-left: 150px;
	padding-right: 250px;
	padding-left: 250px;
}

.filtre-encheres{
	display:flex;
	flex-direction: row;
}


