@charset "UTF-8";

h2{
	font-family: 'Playfair Display SC';
	font-size: 30px;
	display: flex;
	color:var(--bleu-fonce);
	justify-content: center;
}
form {
	background-color:var(--vert-sauge);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 20px auto; /* Ajout de marges verticales */
    padding: 5px 20px; /* Ajout d'un padding interne */
    color: var(--bleu-fonce);
    display: flex;
    flex-direction: column; /* Organisation verticale des éléments */
    gap: 15px; /* Espacement entre les éléments */
}
input {
    width: 320px; /* Les champs prennent toute la largeur disponible */
    padding: 10px; /* Augmente légèrement le padding */
    border: 1px solid #ddd;
    border-radius: 5px; /* Réduction du border-radius pour un look plus moderne */
    font-size: 14px;
    color: var(--bleu-gris);
    box-sizing: border-box; /* Inclut les bordures et le padding dans la largeur totale */
}
li{
	list-style-type: none;
	font-size:10px;
	padding: 0;
	margin: 0;
}

label {
    font-size: 14px;
    color: var(--bleu-fonce);
    margin-bottom: 5px; /* Espacement entre le label et l'input */
    display: block;
}

.signup input{
	padding: 5px;
}
.signup{
	width: 700px;
}
.signup ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 15px;
}

