@charset "UTF-8";

h2{
	font-family: 'Playfair Display';
	font-size: 30px;
	padding: 10px;
	display: flex;
	color:var(--bleu-fonce);
	justify-content: center;
}
main{
	display: flex;
	justify-content: center;
}
#main-user-profile{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin: auto;
}
.section-profil {
	width: 500px;
	z-index: 1;
}
.section-articles {
	width: 850px;
	margin-top:80px;
	justify-content:flex-end;
	z-index: 100;
}

/* --------------------------------TABLES--------------------------------------- */
table {
	width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: var(--beige-doux);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border-color:black;
    overflow: hidden;
}
section {
	padding: 20px;
	text-align: center;
}

th, td {
    padding: 10px 15px;
    text-align: left;
    border: medium;
}
th {
    background-color: var(--bleu-gris);
    color:white;
    border: medium;
}
.plus{
	color:black;
	text-decoration: none;
	font-size: 20px;
}
.plus:hover{
	background-color: var(--rose-poudre);
}
td {
    color:var(--bleu-fonce);
}
tr:last-child td {
    border-bottom: none;
}
