@charset "UTF-8";

:root {
	--bleu-fonce:#343b40;
	--bleu-gris:#576e7d;
	--vert-sauge:#a3bfa8;
	--rose-poudre:#d9b8b5;
	--chocolat:#653924;
	--dore-mat:#c8a165;
	--beige-doux:#e3c9a9;
	--creme-clair:#f3e7d3;
}

/* STYLE GENERAL */
body {
	font-family:Lora;
	background-color:var(--creme-clair);
	color: var(--bleu-fonce);
	line-height: 1.6;
}
h1, h2, h3 {
	color: var(--bleu-fonce);
	font-family:Playfair+Display+SC;
	text-align: center;
}

/* Style mobile - petite taille d'écran */
@media ( max-width : 768px) {
	body {
		padding: 0 10px;
	}
	nav {
		padding: 15px;
	}
	.container {
		padding: 10px;
	}
	form {
		padding: 15px;
	}
}
/* NAVBAR */
/* Conteneur de la navbar */
.navbar {
  background-color: var(--bleu-gris);
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between; /* Espacer les éléments */
  position: relative;
}

/* Conteneur du logo et du texte de bienvenue */
#logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#logo img {
  width: 200px; /* Ajuste la taille du logo */
  margin-right: 10px; /* Espacement entre l'image et le texte */
}

/* Style du texte de bienvenue */
#bienvenu {
  position: absolute; /* Permet de centrer le texte indépendamment des autres éléments */
  left: 50%; /* Centre horizontalement */
  transform: translateX(-50%); /* Compense le décalage pour un véritable centrage */
  font-size: 3em;
  color: var(--dore-mat);
  font-style: italic;
  margin: 0;
}

/* Liens de la navbar */
.navbar .links {
  display: flex;
  align-items: center;
  margin-left: auto; /* Pousse les liens vers la droite */
}

.navbar .links a {
  color: white;
  font-size: 20px;
  transition: color 0.3s;
  margin-left: 20px; /* Espacement entre les liens */
  text-decoration: none; /* Retirer le soulignement des liens */
}

/* Effet sur le survol */
.navbar .links a:hover {
  color: var(--rose-poudre); /* Couleur survol */
}
