@charset "UTF-8";

:root {
	--green-leaf: #6B8E23; /* Vert végétal */
	--earth-brown: #8B4513; /* Marron terreux */
	--sand-beige: #F5F5DC; /* Beige sable */
	--sunny-yellow: #E3B23C; /* Jaune doux */
	--light-wood: #D3B69B; /* Bois clair */
	--sky-blue: #87CEEB; /* Bleu ciel clair */
}

/* Style général */
body {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--sand-beige); /* Fond beige sable */
	color: var(--earth-brown); /* Texte marron terre */
	line-height: 1.6;
	background-image: url('/img/fond-motif.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100vh;
}

/* En-tête du site (navigation) */
nav {
	background-color: var(--green-leaf);
	/* Vert végétal pour la navigation */
	color: white;
	padding: 10px 20px;
	text-align: center;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: 18px;
	margin: 0 15px;
	font-weight: bold;
	transition: color 0.3s;
}

nav a:hover {
	color: var(--sunny-yellow); /* Jaune doux au survol */
}

/* Conteneur principal */
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

/* Titres */
h1, h2, h3 {
	color: var(--earth-brown);
	font-family: 'Georgia', serif;
	text-align: center;
}

/* Section */
section {
	padding: 40px 0;
	background-color: var(--light-wood); /* Bois clair pour les sections */
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}

/* Style mobile - petite taille d'écran */
@media ( max-width : 768px) {
	body {
		padding: 0 10px;
	}
	nav {
		padding: 15px;
	}
	.container {
		padding: 10px;
	}
	form {
		padding: 15px;
	}
}