<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Accueil</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
<!-- <link rel="stylesheet" th:href="@{/css/filters.css}" /> -->
<!-- <link rel="stylesheet" th:href="@{/css/cards.css}" /> -->
<link rel="stylesheet" th:href="@{/css/claude.css}" />
<link rel="icon" href="/img/logo.png" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
	rel="stylesheet">
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const radioAchats = document.getElementById('achats');
        const radioVentes = document.getElementById('ventes');
        const achatsCheckboxes = document.querySelectorAll('#ouvertes, #cours, #remportees');
        const ventesCheckboxes = document.querySelectorAll('#ventesCours, #nonDebutees, #terminees');

        const updateCheckboxesState = () => {
            if (radioAchats.checked) {
                achatsCheckboxes.forEach(checkbox => checkbox.disabled = false);
                ventesCheckboxes.forEach(checkbox => {
                    checkbox.checked = false; // Décocher les checkbox désactivées
                    checkbox.disabled = true; // Désactiver
                });
            } else if (radioVentes.checked) {
                ventesCheckboxes.forEach(checkbox => checkbox.disabled = false);
                achatsCheckboxes.forEach(checkbox => {
                    checkbox.checked = false;
                    checkbox.disabled = true;
                });
            }
        };

        // Écoute les changements des boutons radio
        radioAchats.addEventListener('change', updateCheckboxesState);
        radioVentes.addEventListener('change', updateCheckboxesState);

        // Initialise l'état des checkbox au chargement
        updateCheckboxesState();
    });
</script>
</head>

<body>
	<div th:replace="~{fragments/fragment-header::header}"></div>
	<div th:replace="~{fragments/fragment-logo::logo}"></div>

	<main>
		<h1>Liste des enchères</h1>
	<div sec:authorize="isAuthenticated()" th:replace="~{fragments/fragment-filtres::filtres-connecte}"></div>
	<div sec:authorize="!isAuthenticated()" th:replace="~{fragments/fragment-filtres::filtres-deconnecte}"></div>
	<h3 th:text="${message}"></h3>
		<div class="grid">
			<article th:each="e : ${articles}">
				<div class="card">
					<img th:src="@{'/uploads/' + ${e.imagePath}}" alt="Image de l'article" />
					<div class="container">
						<h2 th:text="${e.nomArticle}"></h2>
						<div>
							<h5>
								Prix actuel : <a th:text="${e.prixVente}"></a>
							</h5>
							<h5>
								Termine le : <a th:text="${e.dateFinFormattee}"></a>
							</h5>
							<h6>
								Vendeur : <a th:text="${e.vendeur.pseudo}"
								th:href="@{/view-seller(noVendeur=${e.vendeur.noUtilisateur})}" id="link-vendeur"></a>
							</h6>
							
							<a th:href="@{/article-detail(noArticle=${e.noArticle})}">
							<button id="details">Détails</button></a>
						</div>
					</div>
				</div>
			</article>
		</div>
	</main>
	<footer th:replace="~{fragments/fragment-footer::footer}"></footer>
</body>
</html>

