<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Page d'erreur</title>
<link rel="stylesheet" th:href="@{/css/error.css}" />
</head>
<body>

<main>
	<div class="content">
	<svg viewBox="0 0 960 300">
		<symbol id="s-text">
			<text text-anchor="middle" x="50%" y="50%">404</text>
		</symbol>
	
		<g class = "g-ants">
			<a href="/">Retour à l'accueil</a>
	<p th:if="${erreur != null}" th:text="${erreur}"></p>
	<p th:if="${message != null}"th:text="${message}"></p>
		</g>
	</svg>
	     
	    <h1>Page Not Found</h1>
	    <a href="#">Back to Home</a>
	    </div>
	    </main>
</body>
</html>