<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Accueil</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<div th:replace="~{fragments/fragment-entete::entete}"></div>

	<h1>Welcome</h1>
	
	<form action="@{/encheres}" method="post">
	 <label for="categorie">Choisir une catégorie :</label>
        <select id="categorie" name="categorie" th:field="*{categorie}">
            <option th:each="categorie : ${categories}" 
                    th:value="${categorie.noCategorie}" 
                    th:text="${categorie.libelle}">Catégories</option>
        </select>
        <button type="submit">Filtrer</button>
	</form>

	</div>
	<!-- <div>
	Liste des enchères (encours) via une liste encheres ou article vendu ?
	</div>-->

<footer th:replace="~{fragments/fragment-piedpage::piedpage}"></footer>	
</body>

</html>



