<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Accueil</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<nav replace="~{fragments/fragment-entete::entete}"></nav>

	<h1>Welcome</h1>
	
	<form action="@{/encheres}" method="get" th:object="${filtre}">
	 <label for="categorie">Choisir une catégorie :</label>
	
        <select name="category" id="category" onchange="this.form.submit()">
            <option th:each="cat : ${categories}" 
                    th:value="${cat}" 
                    th:text="${cat}" 
                    th:selected="${cat == selectedCategory}"></option>
        </select>
    </form>
    
 
	<!-- <div>
	Liste des enchères (encours) via une liste encheres ou article vendu ?
	</div>-->

<footer replace="~{fragments/fragment-piedpage::piedpage}"></footer>	
</body>

</html>