<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Connexion</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" th:href="@{/css/profile.css}" />
</head>
<div th:replace="~{fragments/fragment-entete::entete}"></div>
<body>
<form th:action="@{/login}" method="post" class="login-form">
    <ul th:if="${param.error}">
        <li>Identifiant ou mot de passe incorrect</li>
    </ul>
    <h2>Se connecter</h2>
    <ul>
        <li>
            <label for="username">Identifiant : </label>
            <input type="text" name="username" placeholder="Entrez votre pseudo" required />
        </li>
        <li>
            <label for="password">Mot de passe : </label>
            <input type="password" name="password" placeholder="Mot de passe" required />
        </li>
        <li>
            <button type="submit">Connexion</button>
        </li>
    </ul>
</form>
	<a href="/signup">Créer un compte</a>
</body>
</html>