<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Inscription</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" th:href="@{/css/form.css}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>

<body>
	<div th:replace="~{fragments/fragment-header::header}"></div>
	<div th:replace="~{fragments/fragment-logo::logo}"></div>
<main>
	<form th:action="@{/signup}" method="post" th:object="${utilisateur}" class="signup">
		<div th:if="${#fields.hasErrors('*')}" class="error-global">
			<h2>Veuillez vérifier vos données</h2>
			<ul th:if="${#fields.hasGlobalErrors()}">
				<li th:each="e: ${#fields.globalErrors()}" th:text="${e}"></li>
			</ul>
		</div>
		<h2>S'inscrire</h2>
		<ul>
			<li>
				<label for="">Pseudo : </label>
				<input type="text" th:field="*{pseudo}" />
			</li>
			<div th:replace="~{fragments/fragment-error :: frag-error('pseudo')}"></div>

			<li>
				<label for="">Nom : </label>
				<input type="text" th:field="*{nom}" />
			</li>
			<div th:replace="~{fragments/fragment-error :: frag-error('nom')}"></div>

			<li><label for="">Prénom : </label><input type="text" th:field="*{prenom}" /></li>
			<div th:replace="~{fragments/fragment-error :: frag-error('prenom')}"></div>

			<li><label for="">Email : </label><input type="email" th:field="*{email}" /></li>
			<div th:replace="~{fragments/fragment-error :: frag-error('email')}"></div>

			<li><label for="">Téléphone : </label><input type="text" th:field="*{telephone}" /></li>
			<div th:replace="~{fragments/fragment-error :: frag-error('telephone')}"></div>

			<li><label for="">Rue : </label><input type="text" th:field="*{rue}" /></li>
			<div th:replace="~{fragments/fragment-error :: frag-error('rue')}"></div>

			<li><label for="">Code postal : </label><input type="text" th:field="*{codePostal}" /></li>
			<div th:replace="~{fragments/fragment-error :: frag-error('codePostal')}"></div>

			<li><label for="">Ville : </label><input type="text" th:field="*{ville}" /></li>
			<div th:replace="~{fragments/fragment-error :: frag-error('ville')}"></div>

			<li><label for="">Mot de passe : </label><input type="password" th:field="*{motDePasse}" /></li>
			<div th:replace="~{fragments/fragment-error :: frag-error('motDePasse')}"></div>

			<li><label for="confirmPassword">Confirmez le mot de passe :</label>
    			<input type="password" th:field="*{confirmPassword}" placeholder="Confirmez le mot de passe" /></li>
			<div th:replace="~{fragments/fragment-error :: frag-error('confirmPassword')}"></div>
			
			<li><button type="submit" >S'inscrire</button></li>
			<li><a href="/" class="button">Annuler</a></li>
		</ul>
	</form>
</main>
	<footer th:replace="~{fragments/fragment-footer::footer}"></footer>
</body>
</html>
