<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Vendeur</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" th:href="@{/css/profile.css}" />
	<link rel="icon" href="/img/logo.png" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>

<body>
	<div th:replace="~{fragments/fragment-header::header}"></div>
	<div th:replace="~{fragments/fragment-logo::logo}"></div>
<main>
	<div id="main-user-profile">
		<section class="section-profil">
			<article th:each="e : ${articles}">
				<h2><a th:text="${e.vendeur.pseudo}"></a></h2>
			</article>
		
			<table>
				<tr>
					<th>Pseudo</th>
					<td th:text="${vendeur.pseudo}"></td>
				</tr>
				<tr>
					<th>Nom</th>
					<td th:text="${vendeur.nom}"></td>
				</tr>
				<tr>
					<th>Prénom</th>
					<td th:text="${vendeur.prenom}"></td>
				</tr>
				<tr>
					<th>Email</th>
					<td th:text="${vendeur.email}"></td>
				</tr>
				<tr>
					<th>Téléphone</th>
					<td th:text="${vendeur.telephone}"></td>
				</tr>
				<tr>
					<th>Rue</th>
					<td th:text="${vendeur.rue}"></td>
				</tr>
				<tr>
					<th>Code postal</th>
					<td th:text="${vendeur.codePostal}"></td>
				</tr>
				<tr>
					<th>Ville</th>
					<td th:text="${vendeur.ville}"></td>
				</tr>
			</table>
		</section>
	</div>
</main>
	<footer th:replace="~{fragments/fragment-footer::footer}"></footer>
</body>
</html>