<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Vendeur</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" th:href="@{/css/profile.css}" />
</head>
<header>
	<div th:replace="~{fragments/fragment-entete::entete}"></div>
</header>
<body>
	<main id="main-user-profile">
		<section class="section-profil">
			<article th:each="e : ${articles}">
				<h2><a th:text="${e.vendeur.pseudo}"></a></h2>
			</article>
		
			<table>
				<tr>
					<th>Pseudo</th>
					<td th:text="${vendeur.pseudo}"></td>
				</tr>
				<tr>
					<th>Nom</th>
					<td th:text="${vendeur.nom}"></td>
				</tr>
				<tr>
					<th>Prénom</th>
					<td th:text="${vendeur.prenom}"></td>
				</tr>
				<tr>
					<th>Email</th>
					<td th:text="${vendeur.email}"></td>
				</tr>
				<tr>
					<th>Téléphone</th>
					<td th:text="${vendeur.telephone}"></td>
				</tr>
				<tr>
					<th>Rue</th>
					<td th:text="${vendeur.rue}"></td>
				</tr>
				<tr>
					<th>Code postal</th>
					<td th:text="${vendeur.codePostal}"></td>
				</tr>
				<tr>
					<th>Ville</th>
					<td th:text="${vendeur.ville}"></td>
				</tr>
			</table>
		</section>
		<section class="section-articles">
			<h2>Articles actuellement en vente</h2>
			<table th:if="${articles != null and articles.size() > 0}">
				<tr th:each="a : ${articles}">
					<th th:text="${a.nomArticle}"></th>
					<td th:text="'Date de fin d\'enchères : '+ ${a.dateFinEncheres}"></td>
					<th><a th:href="@{/article-detail(noArticle=${a.noArticle})}">Voir
						plus</a></th>
				</tr>
			</table>
			<h3 th:if="${articles == null or articles.size() == 0}" >Aucun article trouvé</h3>
			<table></table>
		</section>
	</main>
</body>
</html>